.column {
  float: left;
  width: 50%;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
icon svg {
    fill: #009cf6;
    max-width: 25px;
}